<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="icon" href="images/favicon.ico" type="image/gif" sizes="16x16">
  <link rel="stylesheet" href="css/styles.css">
     <!-- Font Awesome -->
     <script
     src="https://kit.fontawesome.com/67f4e9dc71.js"
     crossorigin="anonymous"
   ></script>
</head>

<body>
